@import 'reset';
@import 'variables/global';
@import 'themes/dark.scss';
@import 'themes/normal.scss';
@import 'themes/blue.scss';


body{
    font: var(--font-m);
    color: var(--primary-color);
}

.app{
    background: var(--bg-color);
    min-height: 100vh;
    color: var(--primary-color);
}

.content-page{
    display: flex;
    >:last-child{
        flex-grow: 1;
        padding: 20px;
    }
}
