.title{
    color: var(--primary-color);
    margin-bottom: 10px;

}

.text{
    color: var(--secondary-color);
    margin-bottom: 5px;

}


.error{
    .title{
        color:var(--red-light)
    }
    
    .text{
        color:var(--red-dark)
    }
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;

}

.size_m{
    .title{
        font-size: var(--font-size-l);
    }

    .text{
        font-size: var(--font-size-m);
    }
}

.size_l{
    .title{
        font-size: var(--font-size-xl);
    }

    .text{
        font-size: var(--font-size-l);
    }
}