.ArticleDetails {
	min-height: 100%

}
.ArticleInfo{
	display: flex;
	align-items: center;	
}

.Icon{
	margin-right: 7px;
}

.AvatarWrapper{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.Sceleton{
	margin-top: 15px;
}

.Avatar {
	margin: 0 auto;
}

.Title{
	margin-top: 25px;
}

.Block{
	margin-top: 16px;
}