.Modal{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    color: var(--pramary-color);
}

.Modal.dark{
    --bg-color: rgb(15, 15, 129);
    --primary-color:rgb(9, 227, 9);
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 16px;
    width: 35%;
    transition: transform 0.5s;
    transform: scale(0.5);
    color: var(--primary-color)
}

.opened{
    opacity: 1;
    pointer-events:auto;
    .content{
        transform: scale(1);
    }
    z-index: var(--z-index-moda);
}

.isClosing{
    .content{
        transform: scale(0.2);
    }
}