.ArticlesDetailsPage {
 min-height: 100%;
}

.TitleArticlesDetailsPage{
    margin-top: 20px;
}

.Recomedtations{
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    padding-bottom: 5px;
}

