
.app_blue_theme{
    --bg-color: #331B3F;
    --inverted-bg-color:#ACC7B4;

    --primary-color:#617065;
    --secondary-color: #d3dad5;

    --inverted-primary-color:#331B3F;
    --inverted-secondary-color: #66367d;
}

