
.app_blue_theme{
    --bg-color: #331B3F;
    --inverted-bg-color:#ACC7B4;

    --primary-color:#90a597;
    --secondary-color: #6e8173;;

    --inverted-primary-color:#331B3F;
    --inverted-secondary-color: #66367d;

     // skeleton
     --skeleton-color: #59316d;
     --skeleton-shadow:rgb(2, 2, 39);

     // code
     --code-bg: #522c65;
}

