.app_dark_theme {
    --bg-color: rgb(23, 23, 186);
    --inverted-bg-color: rgb(238, 238, 243);

    --primary-color: rgb(9, 227, 9);
    --secondary-color: rgb(5, 138, 5);

    --inverted-primary-color: rgb(7, 7, 255);
    --inverted-secondary-color: rgb(6, 6, 170);

    //skeleton
    --skeleton-color: rgb(21, 21, 167);
    --skeleton-shadow: rgb(2, 2, 39);

    //code
    --code-bg: rgb(19, 19, 169);

    //card
    --card-bg: rgb(26, 26, 223);

    //listBox
      --listBox-bg:#rgb(26, 26, 223);
}