.app_normal_theme {
    --bg-color: rgb(149, 149, 153);
    --inverted-bg-color: rgb(13, 13, 125);

    --primary-color: rgb(6, 6, 251);
    --secondary-color: rgb(4, 4, 194);

    --inverted-primary-color: rgb(8, 247, 8);
    --inverted-secondary-color: rgb(5, 129, 5);

    // skeleton
    --skeleton-color: rgb(168, 168, 168);
    --skeleton-shadow: rgb(0, 0, 0);

    // code
    --code-bg: rgb(149, 149, 153);

    //card
    --card-bg:rgb(190, 190, 194);

    //listBox
    --listBox-bg:rgb(190, 190, 194);
}