.Flex {
	display: flex;
}

.alignStart{
    align-items:start;
}

.alignCenter{
    align-items:center;
}

.alignEnd{
    align-items: end;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyAround {
    justify-content: space-around;
}

.directionColumn{
    flex-direction: column;
}

.directionRow{
    flex-direction: row;
}

.gap4{
    gap: 4px;
}

.gap8{
    gap: 8px;
}

.gap16{
    gap: 16px;
}

.gap32{
    gap: 32px;
}

.max{
    width: 100%;
}