.ProfileCard{
    padding: 20px;
    border: 4px solid var(--inverted-bg-color);
}

.Header{
    display: flex;
}

.btn{
    margin-left: auto;
}

.data{
    margin-top: 10px;
}

.input{
    margin-top: 20px;
}