.ProfileCard{
    padding: 20px;
    border: 4px solid var(--inverted-bg-color);
}

.isLoading,
.error{
    height: 300px;
}

.AvatarWrapper{
    width: 100%;
    object-fit: contain;
}

.Editing{
    border:4px solid var(--inverted-primary-color);
    background-color: rgb(78, 15, 14);
}