.Card {
    padding: 15px;
    border-radius: 16px;
    background: var(--card-bg);
}

.outline{
    border: none;
    background-color: var(--card-bg);
}

.normal{
    border: 2px solid var(--primary-color);
}