name: linting, testing, building
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  pipeline:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v2
      name: Starting Node.js ${{matrix.node-version}}
      with:
        node-version: ${{matrix.node-version}}
    - name: install modules
      run: npm install --legacy-peer-deps
    - name: buld production project
      run: npm run build:prod 
      # Отключилd
    # - name: linting typescript
    #   run: npm run lint:ts
    # - name: linting css
    #   run: npm run lint:scss
    - name: unit testing
      run: npm run test:unit
    - name: build storybok
      run: npm run storybook:build
    - name: docker 
      run: docker pull yukinying/chrome-headless-browser:90.0.4408.0 
    - name: screenshot testing
      run: npm run test:ui:ci
